<h1>These people are subsrcibe to go/no go</h1>

<table>
  <thead>
    <tr>
      <th>E-mail</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    Pocet ludi: <%= @attendants.count %> <br>
    <% @attendants.each do |att| %>
      <tr>
        <td><%= att %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', band_event_path(@band,@event) %>
