<h1>Participants</h1>

<p>
  <string>Number of participants:</string>
  <%= @participants.count %>
</p>

<ul>
  <% @participants.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>

<%= link_to 'Back', band_event_path(@band,@event), class: "btn btn-default" %>
